[Unit]
Description=Daily wallaper automation
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Environment=HOME=MYHOME
Environment=DISPLAY=:0
ExecStart=GOPATH/bin/daily-wallpaper

[Install]
WantedBy=multi-user.target
