[Unit]
Description=Wallaper automation
After=network.target network-online.target netctl-auto@.service

[Service]
ExecStartPre=/bin/sleep 30
Type=oneshot
Environment=HOME=MYHOME
Environment=DISPLAY=:0
ExecStart=GOPATH/bin/wallpaper --client-id=UNSPLASH_CLIENT_ID

[Install]
WantedBy=network-online.target
